* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Open Sans", sans-serif;
}

/* common */
input,
textarea,
select,
button {
    font-size: inherit;
    font-family: inherit;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.btn {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
    color: #fff;
    border-radius: 6px;
    background: #212832;
    border: 1px solid transparent;
}

.btn:hover {
    color: #212832;
    background: #fff;
    border-color: #212832;
}

.section__heading {
    margin-top: 12px;
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.25;
    color: #212832;
}

/* Header */
.header {
    margin-top: 42px;
}

.header__inner {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 70px;
}

.navbar {
    margin-right: auto;
}

.navbar__list {
    display: flex;
    gap: 16px 47px;
}

.navbar__link {
    padding: 2px;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #696d76;
}

.navbar__link:hover {
    color: #212832;
    border-bottom: 1px solid #7264d6;
}

.navbar__link-active {
    font-weight: 600;
    color: #212832;
    border-bottom: 1px solid #7264d6;
    border-radius: 0.5px;
}

.header-action {
    align-items: center;
}

.header-action__link {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
    color: #212832;
    padding: 12px 28px;
}

.header-action__link:hover {
    text-decoration: underline;
}

.header-action__btn {
    padding: 12px 28px;
}

/* Hero */
.hero {
    margin-top: 76px;
}

.hero__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero__content {
    max-width: 46%;
}

.hero__label {
    display: flex;
    align-items: center;
    margin-left: 30px;
    position: relative;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #696d77;
}

.hero__label::before {
    position: absolute;
    left: -30px;
    display: block;
    content: "";
    width: 18px;
    height: 2px;
    background: #696d77;
}

.hero__heading {
    margin-top: 12px;
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.16;
    color: #212832;
}

.hero__heading span {
    color: #7264d6;
}

.hero__desc {
    margin-top: 20px;
    width: 540px;
    font-size: 1.8rem;
    line-height: 1.66;
    color: #696d76;
}

.Hero-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8px 0 0;
    margin-top: 40px;
    width: 540px;
    height: 74px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 16px 42px 0px rgba(0, 0, 0, 0.07);
}

.hero-form__input {
    width: 100%;
    height: 100%;
    padding: 0 22px;
    border: none;
    outline: none;
    border-radius: inherit;
    color: #696d76;
    font-size: 1.6rem;
}

.hero-form__input::placeholder {
    color: #696d76;
    font-size: 1.6rem;
}

.hero-form__submit {
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    width: 149px;
    height: 58px;
    border-radius: 8px;
    background: #7264d6;
    padding: 15px 30px;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
    outline: none;
    border: 1px solid #fff;
}

.hero-form__submit:hover {
    background: #fff;
    color: #7264d6;
    border-color: #7264d6;
    cursor: pointer;
}

.hero__note {
    margin-top: 20px;
    color: #696d76;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.71;
    cursor: default;
}

/* Hero Phone */
.hero__media {
    position: relative;
    max-width: 54%;
}

.hero__download {
    position: absolute;
    top: 113px;
    left: -100px;
    display: flex;
    align-items: center;
    padding: 14px 10px;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.07);
}

.hero__icon-1 {
    width: 18px;
    height: 18px;
    object-fit: cover;
}

.hero__download-title {
    margin: 0 19px 0 8px;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
    color: #31456a;
}

.hero__download-price {
    font-size: 1.4rem;
    line-height: 1;
    color: #4ab5e3;
}

.hero__percent {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    top: 154px;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background: #da6464;
}

.hero__percent-number {
    font-size: 4.4rem;
    font-weight: 600;
    color: #fff;
}

.hero__percent-desc {
    margin-left: 2px;
    font-size: 1.6rem;
    color: #fff;
}

.hero__funds {
    display: flex;
    align-items: center;
    position: absolute;
    left: 246px;
    bottom: 61px;
    padding: 20px 14px;
    border-radius: 10px;
    background: #439f90;
}

.hero__funds span {
    margin-left: 11px;
}

.hero__funds-price {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
}

.hero__funds-desc {
    margin-top: 5px;
    color: #fff;
    font-size: 0.8rem;
    line-height: 1;
}

.hero-phone {
    position: relative;
    margin-right: 170px;
    width: 296px;
    height: 562px;
    border-radius: 40px;
    border: 12px solid #212832;
    background: #fff;
}

.hero-phone::before {
    position: absolute;
    content: "";
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: -12px;
    text-align: center;
    width: 144px;
    height: 36px;
    border-radius: 0px 0px 18px 18px;
    background: #3c2f60;
}

.hero-phone__inner {
    padding: 40px 11px;
}

.hero-phone__card {
    position: relative;
    padding: 16px;
    width: 250px;
    height: 150px;
    border-radius: 20px;
    background: linear-gradient(56deg, #8679e4 0%, #7264d6 100%);
    overflow: hidden;
    z-index: 0;
}

.hero-phone__icon-1 {
    position: absolute;
    left: 0;
    top: -29px;
    width: 105px;
    height: 93px;
    object-fit: contain;
}

.hero-phone__icon-2 {
    position: absolute;
    top: 60px;
    right: -22px;
    width: 180px;
    height: 105px;
    object-fit: contain;
    z-index: 1;
}

.hero-phone__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-phone__balance {
    font-size: 1.4rem;
    line-height: normal;
    color: #fff;
    z-index: 2;
}

.hero-phone__money {
    margin-top: 2px;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: normal;
    color: #fff;
}

.hero-phone__info {
    margin-top: 32px;
    display: grid;
    grid-template-columns: repeat(2, 69px);
}

.hero-phone__holder,
.hero-phone__valid {
    font-size: 1rem;
    line-height: normal;
    color: #fff;
    z-index: 2;
}

.hero-phone__name,
.hero-phone__date {
    margin-top: 5px;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: normal;
    color: #fff;
    z-index: 2;
}

.hero-phone__name {
    white-space: nowrap;
}

/* Hero Phone Body */

.hero-phone__top {
    margin-top: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-phone__label {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: normal;
    color: #31456a;
}

.hero-phone__list {
    margin-top: 28px;
}

.hero-phone__item {
    margin-top: 28px;
    display: flex;
    align-items: center;
}

.hero-phone__item-icon {
    width: 40px;
    height: 40px;
    object-fit: cover;
    margin-right: 14px;
}

.hero-phone__item-info {
    display: grid;
    grid-template-columns: repeat(2, 110px);
}

.hero-phone__profit,
.hero-phone__item-title {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
    color: #212832;
}

.hero-phone__profit {
    margin-left: 34px;
}

.hero-phone__item-date,
.hero-phone__desc {
    margin-top: 6px;
    font-size: 1rem;
    line-height: 1;
    color: #696d76;
}

.hero-phone__item-date {
    margin-left: 54px;
}

.hero-phone__list .hero-phone__item:nth-child(2) .hero-phone__profit,
.hero-phone__list .hero-phone__item:nth-child(4) .hero-phone__profit {
    margin-left: 45px;
}

/* About */

.about {
    margin-top: 160px;
}

.about__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 130px;
    row-gap: 160px;
    align-items: center;
}

.about__media {
    position: relative;
}

.about__wrap-01 {
    margin-top: 69px;
    width: 470px;
    height: 550px;
    object-fit: cover;
}

.about__img-01 {
    position: absolute;
    top: -2px;
    left: 7px;
    width: 456px;
    height: 619px;
    object-fit: cover;
}

.about__icon-01 {
    position: absolute;
    top: 76px;
    left: 344px;
    width: 64px;
    height: 64px;
    object-fit: cover;
}

.about__activated {
    position: absolute;
    left: 344px;
    bottom: 96px;
    display: flex;
    align-items: center;
    padding: 15px;
    width: 226px;
    height: 70px;
    border-radius: 8px;
    background: #fffdfa;
    box-shadow: 0px 14px 34px 0px rgba(0, 0, 0, 0.07);
}

.about__icon-02 {
    width: 40px;
    margin-right: 10px;
}

.about__activated-title {
    font-family: Inter, sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: normal;
    color: #212832;
}

.about__activated-desc {
    font-family: Inter, sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: normal;
    color: #696d76;
}

.label,
.about__label {
    display: inline-block;
    position: relative;
    margin-left: 30px;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #696d77;
}

.label::before,
.about__label::before {
    position: absolute;
    left: -30px;
    top: 50%;
    content: "";
    width: 18px;
    height: 2px;
    background: #696d77;
}

.about__heading {
    margin-bottom: 70px;
}

.about__title {
    width: 470px;
    margin: 30px 0 16px 0;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1.45;
    color: #212832;
}

.about__h3-desc {
    width: 470px;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #696d76;
}

.about__content:nth-child(3) .about__heading {
    margin-bottom: 20px;
}

.about__desc {
    width: 470px;
    font-size: 1.8rem;
    line-height: 1.66;
    color: #696d76;
}

.about__list-dots {
    margin: 28px 0 50px 0;
}

.about__item-dot {
    position: relative;
    display: flex;
    align-items: center;
    margin: 18px 0 0 24px;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66;
    color: #212832;
}

.about__item-dot::before {
    position: absolute;
    left: -24px;
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #7264d6;
}

.about__btn {
    padding: 15px 30px;
}

.about__card {
    width: 482px;
    height: 322px;
    object-fit: cover;
}

.about__send {
    position: absolute;
    top: -48px;
    left: 294px;
    display: flex;
    align-items: center;
    padding: 23px 13px;
    width: 276px;
    height: 86px;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0px 14px 38px 0px rgba(0, 0, 0, 0.07);
}

.about__send-body span {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about__send-money,
.about__send-title {
    font-family: Inter;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: normal;
    color: #212832;
    white-space: nowrap;
}

.about__send-title {
    margin-right: 67px;
}

.about__send-money {
    font-size: 1.6rem;
    font-weight: 400;
}

.about__send-date,
.about__send-desc {
    font-family: Inter;
    font-size: 1rem;
    line-height: normal;
    color: #696d76;
}

.about__income {
    position: absolute;
    left: 450px;
    bottom: -55px;
    width: 120px;
    padding: 15px;
    border-radius: 16px;
    background: #439f90;
}

.about__income-money,
.about__income-title {
    margin-top: 14px;
    font-size: 1.2rem;
    line-height: normal;
    color: #fff;
}

.about__income-money {
    margin-top: 6px;
    font-size: 1.8rem;
    font-weight: 600;
}

.about__wrap-02 {
    margin-top: 168px;
}

.about__img-02 {
    position: absolute;
    bottom: 2px;
    left: 29px;
    width: 413px;
    height: 600px;
    object-fit: cover;
}

.about__payment {
    position: absolute;
    bottom: 57px;
    left: 263px;
    padding: 28px;
    border-radius: 10px;
    background: #fff;
    filter: drop-shadow(0px 44px 48px rgba(0, 0, 0, 0.1));
}

.about__payment-title {
    width: 224px;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66;
    color: #212832;
}

.about__payment-wrap {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 18px;
}

.about__icon-04 {
    position: absolute;
    bottom: 165px;
    right: -90px;
}

.about__content:nth-child(6) .about__heading {
    margin-bottom: 20px;
}

/* clients */

.client {
    margin-top: 160px;
}

.client__top {
    text-align: center;
}

.client__desc {
    display: inline-block;
    width: 435px;
    margin-top: 18px;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #696d76;
}

.client__body {
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
}

.client-item__info {
    position: relative;
    padding: 42px 28px;
    background: #fff;
    border-radius: 10px;
    text-align: center;
    font-size: 2.2rem;
    font-style: italic;
    line-height: 1.54;
    color: #696d76;
    border: 1px solid #8888886b;
}

.client-item__info::after {
    position: absolute;
    content: "";
    bottom: -74px;
    left: 50%;
    transform: translateX(-50px);
    width: 75px;
    height: 75px;
    rotate: 45deg;
    background: #fff;
    border: 1px solid;
    border-color: transparent #8888886b #8888886b transparent;
}

.client-item__info:hover::after,
.client-item__info:hover {
    filter: drop-shadow(0px 22px 54px rgba(0, 0, 0, 0.07));
    border-color: transparent;
}

.client-item__staff {
    margin-top: 138px;
    text-align: center;
}

.client-item__avatar {
    width: 104px;
    height: 104px;
    object-fit: cover;
}

.client-item__name {
    margin-top: 20px;
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 1.38;
    color: #070052;
}

.client-item__job {
    margin-top: 2px;
    font-size: 1.8rem;
    line-height: 1.66;
    color: #696d76;
}

.client__dots {
    margin-top: 38px;
    display: flex;
    justify-content: center;
    column-gap: 12px;
}

.client__dot {
    border-radius: 1px;
    width: 20px;
    height: 6px;
    border: 1px solid #9b9fab;
}

.client__dot--active {
    background: #7264d6;
    border-color: #7264d6;
}

/* Blog */

.blog {
    margin-top: 160px;
}

.blog__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blog__btn {
    padding: 15px 30px;
    border-radius: 8px;
}

.blog__body {
    margin-top: 70px;
}

.blog__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.blog-item {
    display: flex;
    align-items: center;
    padding: 28px;
    border-radius: 12px;
    background: #fff;
    border: 1px solid #dfe2e8;
}

.blog-item:hover {
    border-color: transparent;
    box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.07);
}

.blog__thump {
    width: 160px;
    height: 160px;
    border-radius: 12px;
    object-fit: cover;
    margin-right: 22px;
}

.blog__date {
    font-size: 1.4rem;
    line-height: 1.71;
    color: #696d76;
}

.blog__heading {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66;
    color: #212832;
}

.blog__action {
    padding: 10px;
    font-size: 1.6rem;
    line-height: 1.62;
    color: #696d76;
}

.blog-item:hover .blog__action {
    color: #7264d6;
}

/* App */

.app {
    margin-top: 160px;
}

.app__content {
    position: relative;
    text-align: center;
    padding: 100px 0;
    border-radius: 24px;
    background: #7264d6;
}

.app__desc,
.app__heading,
.app__label {
    color: #fff;
}

.app__label::before {
    position: absolute;
    left: -30px;
    top: 50%;
    content: "";
    width: 18px;
    height: 2px;
    background: #fff;
}

.app__action {
    margin-top: 38px;
    display: flex;
    justify-content: center;
    column-gap: 16px;
}

.app__download {
    width: 182px;
    height: 64px;
    border-radius: 6px;
    object-fit: cover;
}

.app__decor {
    position: absolute;
    width: 154px;
    height: 154px;
}

.app__decor-01 {
    top: 49px;
    left: 112px;
}

.app__decor-02 {
    top: 49px;
    right: 112px;
}

.app__decor-03 {
    left: 166px;
    bottom: 49px;
}

.app__decor-04 {
    right: 166px;
    bottom: 49px;
}

/* Footer */

.footer {
    margin-top: 100px;
}

.footer__inner {
    padding: 100px 0 28px 0;
}

.footer__body {
    display: flex;
    justify-content: space-between;
}

.footer__heading {
    margin-bottom: 24px;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66;
    color: #212832;
}

.footer__item {
    padding: 6px 5px;
}

.footer__item:first-child {
    margin-top: -6px;
}

.footer__desc,
.footer__item-link {
    font-size: 1.8rem;
    line-height: 1.66;
    color: #6a6e78;
}

.footer__item:hover {
    text-decoration: underline;
}

.footer__desc {
    width: 371px;
    margin-bottom: 48px;
}

.search-form__action {
    display: flex;
    column-gap: 20px;
}

.search-form {
    display: flex;
    align-items: center;
    width: 270px;
    height: 52px;
    border-radius: 6px;
    border: 1px solid #8e919a;
    background: #fafbff;
}

.search-form__input {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    border-radius: inherit;
    padding: 12px;
    color: #8e919a;
    font-size: 1.6rem;
    line-height: 1.75;
}

.search-form__input::placeholder {
    color: #8e919a;
    font-size: 1.6rem;
    line-height: 1.75;
}

.search-form__submit {
    width: 113px;
    height: 52px;
    padding: 12px 18px;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
    color: #fff;
}

.footer__bottom {
    margin-top: 54px;
    display: flex;
    align-items: center;
    column-gap: 140px;
}

.footer__link {
    font-size: 1.8rem;
    line-height: 1.66;
    color: #6a6e78;
    text-decoration-line: underline;
}

.footer__copyright {
    padding: 28px 0;
    text-align: center;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #fff;
    background: #7264d6;
}
